### #VIPatAINEAI

# Virtual Internship Program by AINE.AI

<img src="images.jpg" width="100" height="100" align="left"/> 
<img src="data science.png" width="150" height="150" align="left"/>

# Data Manipulation & Visualization

## Project : Creating Visuals & Charts using Python

###  Submitted By :  Manjiri Harishchandra Sawant

## About the Project

* The project is focused around the use of **Pandas** and **Matplotlib** libraries of python for data manipulation and visualization.

## Pandas in Python

* Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. 

* When the values are in a table, the table in Python programming is called a dataframe.Basically, dataframes are nothing but variables with values in structured data format.

* Pandas library is used to view, manipulate (modify) and analyse dataframes which are 2-D or 3-D in nature.

## Matplotlib in Python

* Matplotlib is a plotting library in Python. It is used for creating static, animated, and interactive visualizations in Python.
* In this project, I will use some modules of matplotlib library to create line, bar, column and pie charts with customized formatting to visualize certain data.

### Getting data imported to Python

* Pandas library supporting loading data from various online and offline sources to Python. It can fetch data from CSV, EXCEL, TEXT or from any website (URL) or servers as well. 

* **pd** is an alias name for pandas.

#### Datasets for this project are as below. 
1. brics.csv : https://drive.google.com/file/d/1dYtM0zul-9hiIRs3v2JilgkTPrddx4mz/view?usp=sharing
2. cars.csv : https://drive.google.com/file/d/1o4Bs7KoZ9vm7kYEX8xgKwNi25JVnZ_Ra/view?usp=sharing
3. marks.csv : https://drive.google.com/file/d/126pQNJzWV6IWQBDik-T_5Xh9y80pQ7K5/view?usp=sharing
4. mtcars.csv : https://drive.google.com/file/d/1KbRMJY84JugLwB43PHl2X9r_3oq9dYuv/view?usp=sharing

### Importing pandas library

There are different pandas functions used to import different file types. To use any of those functions, the first thing we need to do is to import pandas library.

In [ ]:
# Import pandas library as an alias name (nickname) pd

import pandas as pd

### If using Google Colab and data is on local disk

In this case, we need to first upload the file in file and use read_csv or read_excel functions to read the file as a dataframe.

**Import first Pandas library and run this code first to upload the file.**

* from google.colab import files
* uploaded = files.upload()

**The io module provides Python's main facilities for dealing with various types of I/O.There are three main types of I/O: text I/O, binary I/O and raw I/O.**

* import io
* data = pd.read_csv(io.BytesIO(uploaded['data.csv'])) 

Dataset is now stored in a Pandas Dataframe.

### If the data is uploaded on Jupyter Notebook and is saved in the same location where this Python Notebook is

* If the data and the Notebook are in the same location/folder in Jupyter Notebook, we can just 'read' the data without mentioning any directory/source path.

**So Here, I will be using Python Jupyter Notebook.**

## 1. Dataset is Used: brics.csv

In [ ]:
# the file is uploaded on Jupyter Notebook

brics = pd.read_csv("brics.csv")      # importing brics.csv dataset and converting the table into a dataframe (pandas table).

print(brics) #print() dataframe using print()

brics  # Printing dataset without print() Funtion.

* There is a difference between print() dataframe using print() and without print().
* Without print() function is just displayed the dataset.

### If data is in local system/disk.

If data is on local system and we want to import it in Jupyter Notebook, then we have to use read_csv and the full-path of the file address.

**Getting data from local location in a system.**
* brics = pd.read_csv("D:/Aine Ai Internship/P6/brics.csv")  

The folder names are seperated by either a forward slash (/)or two backward slashes (\\) in the above code.

In [ ]:
# Data type of any variable can be seen using the function type()

print(type(5))
print(type('a text'))
print(type(True))
print(type(brics))         # datatype of the dataframe created above

### Explore the dataframe

Intial exploration should be done on any dataset to understand the variables/columns, values, data types and the structure of the data.

In [ ]:
brics.info()  # Object dtype can store variables with any or mixed data types

* The **info() function** is used to print a concise summary of a DataFrame. 
* This method prints information about a DataFrame including the index dtype and column dtypes,non-null values and memory usage.

In [ ]:
brics.value_counts()

* **value_counts() function** returns object containing counts of unique values. 
* The resulting object will be in descending order so that the first element is the most frequently-occurring element. 
* Excludes NA values by default.

In [ ]:
# When the dataset is large and we want to sort the data by ascending or descending order to look at largest or smallest values.

# Ascending order by column code.
brics.sort_values(by=['code'])   # Ascending by default.
# or
brics.sort_values(by=['code'], ascending = True)  # No need to mention

In [ ]:
# Sorting in descending order.
brics.sort_values(by=['code'], ascending = False)

* The sorting the data does not change the data in original dataframe.
* Order of the data has been changed with respect to the variable.
* It is sorted by the Code which is in alphabetical order.

In [ ]:
print(brics) # printing the dataframe to observe output

##### Sort the data to see which Country has Largest Population (Population is in millions.)

In [ ]:
brics.sort_values(by= 'population', ascending= False)

**Result** : China has largest population.

##### Sort the data to see which country is smallest in size.

In [ ]:
brics.sort_values(by = 'area')

**Result:** South Africa is smallest country in size.

In [ ]:
# Sorting and printing just one column.
brics.country.sort_values(ascending=False)

##### Q. Sort & print area column on from largest to smallest.

In [ ]:
brics.area.sort_values(ascending=False)

## Indexing in dataframes

When we print a dataframe, a column with numbers 0, 1, 2... shows up at the left side. This column is called Index column. An index column indicates the position/row of records.


![image.png]()

* If our data contains a column with unique values such as StudentID, EmployeeID, OrderID etc., we can make that specific column (with unique values) as our index column.

* In this case, we can make code column or even country column as index column.

In [ ]:
# To fetch data from the 2nd row, we can use index 1 (one)
brics.country[1]

* Indices can be used to fetch data from a particular row.

In [ ]:
# Getting single column from a dataframe

print(brics["country"])

In [ ]:
# Print area column from brics dataframe

print(brics["area"])

In [ ]:
# Other way to get a single column from a dataframe - use dot

brics.country

In [ ]:
# Print code column from the dataframe using dot

brics.code

In [ ]:
# Pritning multiple columns

brics[['country', 'capital']]

In [ ]:
# Print country, capital and population

brics[['country','capital','population']]

* It is not advisable to use dot everywhere to print column.
* Using square brackets to print one column is also correct way.

In [ ]:
# use col 0 as index. 

brics = pd.read_csv("brics.csv",index_col=0)
brics

* Col 0 as index will remove the 1st column containing the indes or sl.no. from the above output.
* And make the 1st column from actual daata as the index.

## Transforming the dataframe

In [ ]:
#Adding a new column to the existing Data Frame

brics["on_earth"] = [True, True, True, True, True]    
brics

In [ ]:
# adding a calculated column

brics["density"] = brics["population"] / brics["area"] * 1000000   # per km sq.
brics

Removing the additional decimal points or setting the precision can be done on the entire dataframe.

In [ ]:
brics.style.set_precision(2)  # Upto 2 decimal points for all float columns in the dataframe.

* This will not change the original dataframe i.e. the original dataframe will still have multiple digits after decimals.

In [ ]:
brics["density"].round(2) # Rounding of individual column to fixed decimal points.

### Fetching data using indices and location functions (.loc and .iloc)

To Note:
1. .loc is used with the actual value/label of the index
2. .iloc is used with the index position/reference - which are numbers (0, 1, 2, 3, 4......)

In [ ]:
brics

* Notice that the indices are BR, RU, IN, CH and SA. However, their position(numerical index) are 0,1,2,3, and 4

In [ ]:
brics.loc["SA"]   # .loc is used with actual value of the index.

* The value mentioned in the argument must be there in the dataframe's index list.

In [ ]:
brics.iloc[4]  # .loc is used when we are giving the index reference as number, not the actual value of the index.

##### Use .loc to print the values from all columns for IN.

In [ ]:
brics.loc['IN']

##### Use .iloc to print the values from all columns from 3rd row (index number will be 1 less than the row number).

In [ ]:
brics.iloc[2]

## Adding rows in the dataframe

**append()** is used to add records in a dataframe or even in lists.

In [ ]:
#adding a new ROW using append
newrow = {'code':'WK', 'country':'Wakanda', 'population':5,'area':1000000,'capital':'Wakanda City','on_earth':False,'density':5}


brics1 = brics.append(newrow,ignore_index= True)   # Ignoring the existing index.
# Ignoring the existing index will result into new dataframe index 0,1,2,....


brics1   # append will not result into changing the actual dataframe. brics will still be the same.

* There is **NaN** for code in other rows, Because the previous 'code' was not a part of data table. It was an index.

* With 'code' in 'newrow', we are adding a new column called 'code'.
 
* ignore_index=False will result into error because 'newrow' is a dictionary and appending a dictionary into a dataframe will not work if we do not ignore the index.

In [ ]:
#Adding a new row using .loc

brics.loc['WK'] = ['Wakanda', 5, 1000000, 'Wakanda City', False, 5]   
# Sequence is very important. Data types may get changed due to wrong sequence.

brics

##### Add a new row in the dataframe using .loc any other country with some values in all columns.

In [ ]:
brics.loc['GD'] = ['Gondor', 3, 1855000 ,'Minas Tirith',False,2.214022]

In [ ]:
# Fetching the value in 2-D way. In Excel, we have cells for that, Ex- A2 means column A and row 2.
# All of the below codes will give the same output.

In [ ]:
brics.loc["IN","capital"]

In [ ]:
brics["capital"].loc["IN"]

In [ ]:
brics.loc["IN"]['capital']

##### Deleting rows and columns from a dataframe using drop() function.

In [ ]:
# create a new dataframe so that brics is not affected.

brics1 = brics
brics1

In [ ]:
brics1.drop(['area'], axis=1)  # axis = 0 by default for rows. Axis = 1 for column.

# For multiple columns, mention the columns separated by comma. Ex. df.drop(['name','max'], axis=1)

##### Deleting area and density columns from brics1 dataframe.

In [ ]:
brics1 = brics

brics1.drop(['area','density'], axis = 1)

##### Delete the record for Wakanda by using its index WK.

In [ ]:
brics1.drop(['WK'], axis = 0)

In [ ]:
brics1 = brics

# Another way to drop columns
brics1.drop(columns=['area', 'density'])

In [ ]:
brics1 = brics

# Drop rows by index

brics1.drop(['IN', 'CH'])

* The **shape function()** helps us to find the shape or size of an array or matrix. In Excel - A1:D10.  
* shape[0] means we are working along the first dimension of an array.
* If Y has n rows and m columns, then Y.shape is (n,m). So Y.shape[0] is n.

In [ ]:
for index in range(brics.shape[0]):    
    countryName = brics.iloc[index,0]  # row - index, column - 0
    cityName = brics.iloc[index, 3]  # row - index, column - 3
    print('The Capital City of', countryName, 'is', cityName)

In [ ]:
#Another solution
for index in range(brics.shape[0]):
    print('The Capital City of', brics.iloc[index, 0], 'is', brics.iloc[index, 3])

In [ ]:
#Another solution
# iterrows() is a generator that iterates over the rows of the dataframe and returns the index of each row, 
# in addition to an object containing the row itself.

for index, row in brics.iterrows():
    print("The Capital City of",row['country'],"is", row['capital'])

## 2. Dataset is Used: cars.csv

In [ ]:
# loading the dataset

cars = pd.read_csv("cars.csv")

In [ ]:
# Print top 5 rows from the data, without any sorting or filter.
cars.head()

* there is an unnamed column in the above output. It is because the column name is not given in the orignal dataset for the 1st  column.Corrections will be for that in sometime.

In [ ]:
# Print top 7 rows from the data
# To print n number of rows, enter the value of n in the head() as an argument.

cars.head(7)

In [ ]:
# For bottom 5 rows in the dataframe

cars.tail()

In [ ]:
# Print last 10 rows from the dataframe

cars.tail(10)

In [ ]:
# Giving a name to the unnamed column

print(cars)

df1 = cars.rename( columns={'Unnamed: 0':'code'}, inplace=False ) 
cars.rename( columns={'Unnamed: 0':'code'}, inplace=True ) 

print(df1)
print(cars)      # With False, there will be no change in cars dataframe.

* inplace argument decides if the changes should be made in the original dataframe or not.
* inplace = True has been used to overwrite the existing dataframe. The default is False, if nothing mentioned.
* When **inplace = True** , the data is modified in place, which means it will return nothing and the dataframe is now updated. 
* When **inplace = False** , which is the default,then the operation is performed and it returns a copy of the object. You then need to save it to something.

In [ ]:
print(cars['cars_per_cap'])  # without column name at the top. Prints data and detail

In [ ]:
print(cars[['cars_per_cap']])  # print the actual data

In [ ]:
# Read the data again and set the 1st column as the index column. Then, print the cars dataframe.

df1 = pd.read_csv('cars.csv', index_col= 0)

df1

In [ ]:
#Print the details of 'RU'

df1.loc['RU']

In [ ]:
# To show the column name at the top.

df1.loc[['RU']]

##### Print all details for RU and AUS from cars dataframe.

In [ ]:
df1.loc[['RU','AUS']]

##### Print the Cars Per Capita (cars_per_cap) for India (IN).

In [ ]:
df1['cars_per_cap'].loc['IN']

#####  Print the Cars Per Capita (cars_per_cap) for India (IN) and Russia (RU).

In [ ]:
df1.loc[['IN','RU']][['cars_per_cap']]

##### # Print the Cars Per Capita and Country name for India and Russia.

In [ ]:
df1.loc[["IN","RU"]][['cars_per_cap','country']]

## Pandas Advanced and Matplotlib

## 3. Dataset is Used: marks.csv

In [ ]:
# Loading the dataset
marks = pd.read_csv("marks.csv")

In [ ]:
# TO DO: Show the shape of the dataframe

marks.shape

In [ ]:
# Get the information and structure of the data with non-null value counts

marks.info()

In [ ]:
# Print datatypes of the each column

marks.dtypes

* The output is for the values in the column, not for the column iteself. A column of a dataframe is called a SERIES. The type of a series is Series.

In [ ]:
print(type(marks))
print(type(marks.English))  # Column's dtype is Series, the dtype of the values is Object.
print(type(5))
print(type(5.5))
print(type("Python"))
print(type(True))

#### display() Vs print()

* display() is similar to print() with some difference. 

* Useful in advanced Python when we can 'display' images, but not 'print' them.

* When working on a dataframe, prefer to use display()

In [ ]:
# Using display() 
display(marks)

### Using range and multiple values in .loc and .iloc

* There is a difference between = and == .

In [ ]:
num = 5 # Assignment. No output of assignment operator. 
num

num == 6 # Comparison/equality. Output is either True or False

### Using different logical operator to explore or fetch certain details from a large dataset.

##### selecting marks for 'Ria'.

In [ ]:
display(marks.loc[(marks.Student_Name == 'Ria')])  # in case the index is not known for large datasets

##### Print all records for 'David'.

In [ ]:
display(marks.loc[(marks.Student_Name == 'David')])

##### Using OR operator to print details if the name is either 'Ria' OR 'David'.

In [ ]:
display(marks.loc[(marks.Student_Name == 'Ria') | (marks.Student_Name == 'David')])

##### Print all records is the Student IS is either S05 or S10.

In [ ]:
display(marks.loc[(marks.Student_ID == 'S05')| (marks.Student_ID == 'S10')])

##### Fetch all details where marks in English > 70 or marks in Maths.

In [ ]:
 display(marks.loc[(marks.English > 70) | (marks.Maths > 70)])

##### Fetch all details where marks in English > 70 AND marks in Maths > 70.

In [ ]:
# Using AND operator to combine two conditions. 

display(marks.loc[(marks.English > 70) & (marks.Maths > 70)])

##### Fetch all details for all students except for Ria or the all students who are not Ria.

In [ ]:
# Using NOT function 
 
display(marks.loc[(marks.Student_Name != 'Ria')])

In [ ]:
# Index column can be changed by giving the name of the column - unique and case-sensitive

marks = pd.read_csv('marks.csv', index_col = 0)  # could have given the index no. of the columns (0,1..) as well.

display(marks)

Displaying range of indices using .loc and .iloc

Note:
1. In .loc, all value are included
2. In .iloc, the upper range is excluded

Execute the next codes to understand it better.

In [ ]:
display(marks.loc['S01':'S10']) # Range of values. Includes all values/labels.

* .loc is different than .iloc
* .iloc is label-based. We need to SPECIFY the VALUE of the index. The values must be there in the index column.
* iloc is integer index-based. So here, we have to specify rows and columns by their integer index.
* iloc will not work if the indices are not integers.

In [ ]:
display(marks.iloc[0:10]) # IMPORTANT - Out of 11 indices, the last one will be excluded.

* Returns output of the indices without matching the value of incides entered and the value in the column.

In [ ]:
display(marks.iloc[[3]])    

#display(marks.iloc[['S04']]) will result in 'Type Error' iloc will not work if the index is not integer.

In [ ]:
# Correct the issue of the previous code cell and write the correct syntax here.

display(marks.iloc[[3]])

In [ ]:
# Data of multiple and non-consecuitive indices
# Selecting details of the 1st and 5th row

display(marks.iloc[[0, 4]])

##### Print the details from 0th, 5th and 8th rows, along with the details of indices 4th, 11th and 16th.

In [ ]:
display(marks.iloc[[0,5,8,4,11,16]])

In [ ]:
# .loc can be used to fetch details from a range of index values in a sequence.

display(marks.loc['S01':'S05'])   # Continuous series of the indices based on label.

In [ ]:
display(marks.iloc[2:5]) # Prints all values from all columns for indices 2 ,3 & 4.

In [ ]:
display(marks.iloc[0:5]) # Prints all values from all columns for indices 0 to 5.

In [ ]:
display(marks.iloc[:5]) # Prints all values from all columns for indices 0 to 5.

In [ ]:
display(marks.iloc[15:20])  # Prints all values from all columns for indices 15 to 20.

In [ ]:
display(marks.iloc[15:]) # Prints all values from all columns for indices 15 till last.

In [ ]:
display(marks.iloc[15:100])  # Prints all values from all columns for indices 15 till last.

In [ ]:
display(marks.iloc[:]) # Prints all values from all columns for all indices.

## Data cleaning : Empty value treatment in dataframes

##### Creating new dataframe to understand Data Cleaning

In [ ]:
temps = pd.DataFrame({"sequence":[1,2,3,4,5],
          "measurement_type":['actual','actual','actual',None,'estimated'],  # With strings, it will become 'None'
          "temperature_f":[67.24,84.56,91.61,None,49.64]   #With numbers, it will become 'NaN'
         })
temps

* NaN belongs to the class float

* None belongs to the class NoneType

In [ ]:
# To identify the null value. Return true if the value is null otherwise false
temps.isna()

In [ ]:
# Return the count of missing value from each column     
temps.isna().sum()

In [ ]:
# Total count of null from all columns
temps.isna().sum().sum()

In [ ]:
# Drop/delete the row containing missing values

clean_temps = temps.dropna(how='any')  # how: {'any', 'all'}. Default 'any'
display (clean_temps)

# any : If any NA values are present, drop that row or column.
# all : If all values are NA, drop that row or column.


# in the output, index 3 is not there.

In [ ]:
clean_temps = temps.dropna(how='all')  # how: {'any', 'all'}. Default 'any'
display (clean_temps)

In [ ]:
# Drop the ROWS where at least one element is missing.
temps.dropna()

In [ ]:
# Drop COLUMNS where there are missing values.

# Drop the columns where at least one element is missing.
temps.dropna(axis = 'columns') # Without the 'axis' argument, rows will be dropped by default as you did in the previous code.

##### Handling missing data by replacing values

* Not every time we should delete the missing values, especially when the dataset is smaller or when missing values are very significant. In such as case, additional data-preparation is performed.

* Depending on the dataset, it's structure and the research questions, we should decide which data preparation technique should be applied on what column or missing values.

In [ ]:
temps['temperature_f'].cumsum()   # Returns the commulative sum. 

# It will skip null values. skipna = TRUE by default

# array containing numbers whose commulative sum is desired

In [ ]:
temps['temperature_f'].cumsum(skipna=False)

In [ ]:
# fill missing value with zero
temps.fillna(value=0, inplace = True)

In [ ]:
# Print the dataframe

temps

#####  Why 0 in last column is 0.00 while only 0 in measurement_type?

 **Ans.** Because last column data type is float so 0 represents as 0.00 and 2nd column data type is integer.

In [ ]:
# fill missing value with previous value
temps = pd.DataFrame({"sequence":[1,2,3,4,5],
          "measurement_type":['actual','actual','actual',None,'estimated'],
          "temperature_f":[67.24,84.56,91.61,None,49.64]
         })
temps.fillna(method='pad' , inplace=True)  # 'pad' means padding. Take value from previous row
temps

In [ ]:
# fill missing value with next value
temps1 = pd.DataFrame({"sequence":[1,2,3,4,5],
          "measurement_type":['actual','actual','actual',None,'estimated'],
          "temperature_f":[67.24,84.56,91.61,None,49.64]
         })
temps1.fillna(method='bfill' , inplace=True)  # bfill takes next value to replace
temps1

In [ ]:
# fill missing value with mean
temps = pd.DataFrame({"sequence":[1,2,3,4,5],
          "measurement_type":['actual','actual','actual',None,'estimated'],
          "temperature_f":[67.24,84.56,91.61,None,49.64]
         })
temps['temperature_f'].fillna(temps['temperature_f'].mean(), inplace=True)  # Mean will not work on strings
temps

## Lambda Function

* lambda is used to define a temporary expression without any return statement. It always contains an expression.
* that is returned. There is no need to assign a variable with lambda.

In [ ]:
def cube(y):
    return y*y*y  # return is a keyword. Python stops when the code reaches to return statement. Print is a function.
    

# using the normally defined function
    print(cube(5))

# Using the lambda function
lambda_cube = lambda y: y*y*y
print(lambda_cube(5))

### Creating new dataframe to explore the use of Lambda and changing indices.

In [ ]:
teams = pd.DataFrame({"Region":['North','West','East','South'],
          "Team":['One','Two','One','Two'],
          "Squad":['A','B','C','D'],
          "Revenue":[7500,5500,2750,6400],
            "Cost":[5200,5100,4400,5300]})

display (teams)

In [ ]:
# apply() to alter values along an axis in dataframe or in a series/column 

# Categorise based on the revenue and cost
teams['Profit'] = teams.apply(lambda x: 'Profit' if x['Revenue']>x['Cost'] else 'Loss',axis=1)
teams

In [ ]:
# Use map() to substitute each value in a series

team_map = {"One":"Red","Two":"Blue"}      # new variable - dictionary (key-value pair)
teams['Team Color'] = teams['Team'].map(team_map) # A new column with mapped values
teams

In [ ]:
# applymap() method do elementwise operation on the entire dataframe.
# This method applies a function that accepts and returns a scalar to every element of a DataFrame.

teams.applymap(lambda x: len(str(x)))  # int(x) won't work because data has strings which can not be convereted to int.

In [ ]:
# Grouping on different region. 
teams.groupby(['Profit','Region']).max()

##### Group the records on Cost with minimum values.

In [ ]:
 teams.groupby(['Cost']).min()

##### Group the records on Revenue column with mean values.

In [ ]:
teams.groupby(['Revenue']).mean()

##### Grouping on the basis of aggregates.

In [ ]:
teams.groupby(['Team']).agg({'Revenue':['mean','min','max']})

Reset Index, Set Index and ReIndexing

In [ ]:
# Redefining teams dataframe, and display it

teams = pd.DataFrame({"Region":['North','West','East','South'],
          "Team":['One','Two','One','Two'],
          "Squad":['A','B','C','D'],
          "Revenue":[7500,5500,2750,6400],
            "Cost":[5200,5100,4400,5300]})

display (teams)

In [ ]:
# Setting two columns as index when a single column has not unique values.

teams_reindex = teams.set_index(['Region','Team'])  # 2 indices. useful when values are not unique
display(teams)

print()    # TO print blank/new line.


display(teams_reindex)

In [ ]:
# Restructuring the dataframe based the multiple indices.

stacked = pd.DataFrame(teams_reindex.stack())
stacked

## Mergining dataframes

* How to merge multiple dataframes based on left, right and inner join.

### Defining two new dataframes

In [ ]:
group1 = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'David'],
                    'number': [1, 2, 3, 4]})
group2 = pd.DataFrame({'name': ['Charlie', 'David', 'Edward', 'Ford'],
                    'number': [3, 4, 5, 6]})

In [ ]:
group1.merge(group2,how='left', on='number')   # Left - all from 1st table and only common from 2nd table.

In [ ]:
group1.merge(group2)   # Shows only the common records.

In [ ]:
group1.merge(group2,how='inner',left_on='number',right_on='number')  # Inner - Shows only the common records

#### Why there are no null values now in the output?

**Ans** : Inner join is the most common type of join. It returns a dataframe with only those rows that have common characteristics.Thats's why there are no null values in the output.

In [ ]:
group1.merge(group2,how='right',left_on='number',right_on='number')  # Right - All from 2nd table, common from 1st table.

# Matplotlib library in Python

* Matplotlib is a plotting library for the Python programming language. Matplotlib in Python is used as it is a robust, free and easy library for data visualization.


* Another important library - seaborn - is use for statistical data visualization.

## 4. Dataset is Used: mtcars.csv

In [ ]:
cars = pd.read_csv('mtcars.csv', index_col= 'car_names') # index is set at col 'car_names'

cars

In [ ]:
# Import the required package 
import matplotlib.pyplot as plt

# This is a magic command for IPython that allows you to add plots to the browser interface.
%matplotlib inline

##### Create a scatter plot with mpg and hp by providing xlabel and ylabel

* A **scatter plot** is a diagram where each value in the data set is represented by a dot.
* The Matplotlib module has a method for drawing scatter plots, it needs two arrays of the same length, one for the values of the x-axis, and one for the values of the y-axis.

In [ ]:
cars.plot.scatter(x = "mpg", y = "hp",linewidths = 10,figsize = (10,7)) # x array represents 'mpg' of the car
                                                                        # y represents 'hp' of the car                                                                       

plt.xlabel('MPG', fontsize = 15) 
plt.ylabel('Hp', fontsize = 15)

plt.title('MPG Vs Hp', fontsize = 25)
plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

plt.show()

* We can see that the dots are concentrated around the value between 15 to 20 on the x-axis, and between 100 to 250 on the y-axis.

* We can also see that the spread is wider.

In [ ]:
cars.plot.scatter(x = "mpg", y = "drat",c = 'r', linewidths = 10,figsize = (10,7))

plt.xlabel('MPG', fontsize = 15)
plt.ylabel('Drat', fontsize = 15)

plt.title('MPG Vs Drat', fontsize = 25)

plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

plt.grid(False)
plt.show()

* Matplotlib consists of several plots like line, bar, scatter, histogram etc. 
* Ticks are the values used to show specific points on the coordinate axis. It can be a number or a string. 
* Whenever we plot a graph, the axes adjust and take the default ticks.

##### Create crosstab for cyl(cylinder) and columns as count

* A cross-tabulation (or crosstab) is a two- (or more) dimensional table that records the number (frequency) of respondents that have the specific characteristics described in the cells of the table.

In [ ]:
pd.crosstab(index = cars['cyl'], columns = 'cyl')

In [ ]:
# Other way to create the crosstab
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


ct = pd.crosstab(cars.cyl, cars.cyl)

ct.plot.bar(stacked=True, figsize = (10,7))    # Try staked=False and then by removing stakced part
plt.legend(title='mark', fontsize = 15)  

plt.xlabel('cyl', fontsize = 15)
plt.ylabel('cyl', fontsize = 15)

plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

plt.show()

* Here, we can not see clearly the stacked bar plot because we have selected same columns.

In [ ]:
# Other way to create the crosstab
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings


ct_1 = pd.crosstab(cars.cyl, cars.gear)

ct_1.plot.bar(stacked=True, figsize = (10,7))    # Try staked=False and then by removing stakced part
plt.legend(title='mark', fontsize = 15)  

plt.xlabel('cyl', fontsize = 15)
plt.ylabel('gear', fontsize = 15)

plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

plt.show()

* Stacked bars are a great alternative in those cases, allowing us to compare and analyze those groups' composition.
* In a stacked barplot, subgroups are displayed on top of each other.

In [ ]:
# By trying stacked = False
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

ct_1 = pd.crosstab(cars.cyl, cars.gear)

ct_1.plot.bar(stacked=False, figsize = (10,7))    # Try staked=False 
plt.legend(title='mark', fontsize = 15)  

plt.xlabel('cyl', fontsize = 15)
plt.ylabel('gear', fontsize = 15)

plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

plt.show()

* stacked = False will unstack the bar

In [ ]:
# By removing stacked part
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

ct_2 = pd.crosstab(cars.cyl, cars.carb)

ct_2.plot.bar(figsize = (10,7))    # By removing stacked part
plt.legend(title='mark', fontsize = 15)  

plt.xlabel('cyl', fontsize = 15)
plt.ylabel('carb', fontsize = 15)

plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

plt.show()

* If we select more than one column, Pandas creates, by default, an unstacked bar chart with each column forming one set of columns, and the DataFrame index as the x-axis.

##### Create crosstab for cyl(cylinder) and am as 'ct2' and create a bar plot.

In [ ]:
ct2 = pd.crosstab(cars.cyl, cars.am)

ct2 = pd.crosstab(cars.cyl, cars.am)

ct2.plot.bar(figsize = (10,7))

plt.xlabel('cyl', fontsize = 15)
plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)
plt.legend(title='am', fontsize = 15)
plt.title('cyl vs am', fontsize = 25)

plt.show()

##### Create groupby (cyl) to visualize mpg and hp in a bar chart.

In [ ]:
group = cars.groupby(by = 'cyl')[['mpg','hp']].nunique()

group.plot.bar(figsize = (10,7))
plt.title('visualize mpg and hp by cyl', fontsize = 25)

plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)
plt.legend(fontsize = 15)
plt.xlabel('cyl', fontsize = 15)

plt.show()

##### Create a pie chart for cyl count.

In [ ]:
cyl_count = cars.cyl.value_counts()

cyl_count.plot(kind = 'pie', autopct='%1.1f%%',figsize = (10,7),startangle = 180)


plt.legend(title = 'cyl',fontsize = 15)
plt.title('Distribution of Car cyl', fontsize =25)

plt.show()

* Pie charts are great for visualizing the distribution of counts among different values of a categorical field.
* autopct parameter shows the percentage distribution of each portion.

#####  Create a Histogram for MPG column.

* A **histogram** is an accurate representation of the distribution of numerical data. It is an estimate of the probability distribution of a continuous variable. It is a kind of bar graph.

* To construct a histogram, we have to follow these steps 

 1. Bin the range of values.
 2. Divide the entire range of values into a series of intervals.
 3. Count how many values fall into each interval.

* The bins are usually specified as consecutive, non-overlapping intervals of a variable.

* The matplotlib.pyplot.hist() function plots a histogram. It computes and draws the histogram of x.

In [ ]:
cars['mpg'].plot.hist(bins = 8, figsize = (10,7))

plt.xlabel("Car's MPG", fontsize = 15)
plt.ylabel('frequency', fontsize = 15)
plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

plt.grid(False)

plt.show()

* **Seaborn** which is another extremely useful library for data visualization in Python. 
* The Seaborn library is built on top of Matplotlib and offers many advanced data visualization capabilities.

In [ ]:
# setting the dimensions of the plot
fig, ax = plt.subplots(figsize=(10, 7))

sns.histplot(cars['mpg'], bins = 8, kde = True) 
plt.xlabel("Car's MPG", fontsize = 15)
plt.ylabel('frequency', fontsize = 15)
plt.xticks(fontsize = 15)
plt.yticks(fontsize = 15)

plt.grid(False)

* A histogram is **right skewed** if the peak of the histogram veers to the left. 
* With right-skewed distribution (also known as "positively skewed" distribution), most data falls to the right, or positive side, of the graph's peak. 
* kde represents the probability distribution of the data values as the area under the plotted curve.

**Key Features of Pandas**
* Fast and efficient DataFrame object with default and customized indexing.
* Tools for loading data into in-memory data objects from different file formats.
* Data alignment and integrated handling of missing data.
* Reshaping and pivoting of date sets.
* Label-based slicing, indexing and subsetting of large data sets.
* Columns from a data structure can be deleted or inserted.
* Group by data for aggregation and transformations.
* High performance merging and joining of data.

**There are lots of more essential and handy tools are available in pandas library that we still need to explore!**